<mat-toolbar>
  <span class="title">Angular Base</span>
</mat-toolbar>

<mat-nav-list>
  <mat-list-item routerLink="/">
    <mat-icon matListIcon>folder</mat-icon>
    <h3 matLine>Home</h3>
  </mat-list-item>
  <mat-list-item routerLink="/podcasts">
    <mat-icon matListIcon>folder</mat-icon>
    <h3 matLine>Podcasts</h3>
  </mat-list-item>
  <mat-list-item routerLink="/episodes">
    <mat-icon matListIcon>folder</mat-icon>
    <h3 matLine>Episodes</h3>
  </mat-list-item>
  <mat-list-item routerLink="/users">
    <mat-icon matListIcon>folder</mat-icon>
    <h3 matLine>Users</h3>
  </mat-list-item>
</mat-nav-list>
